<!DOCTYPE html>

<html>

<head>
    <title>Help Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Help</h3>
        <p>{{helpText}}</p>
    </div>
    {{> footer}}
</body>

</html>