<!DOCTYPE html>

<html>

<head>
    <title>About Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{> header}}
        <h3>About</h3>
        <p>{{aboutText}}</p>
    </div>
    {{> footer}}
</body>

</html>